:root {
  /* Шрифты */
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  
  /* Веса шрифтов */
  --text-weight: 400;
  --title-weight: 700;
  --accent-weight: 785;
  
  /* Градиенты для фона */
  --bg-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  
  /* Резиновые размеры */
  --card-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --logo-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  --title-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  --header-padding-block: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  
  /* Цвета для сердца */
  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --contour-color: #000;           /* Цвет контура */
  --animation-fill-color: #ff0000; /* Цвет заливки (красный) */
  --main-body-color: #000;
  --label-stroke-color: #fff;
  --label-stroke-width: 1px;
}